body{
    height:100vh;
}
#wrapper{
    min-height:100%;
}
footer{
    position:relative;
    bottom: 0;
}
/* colors */
.pink {
    background-color: #ea8eb1 !important;
}

.brown {
    background-color: #eab96b !important;
}

.pink-text>input:focus{
    border-bottom: #ea8eb1;
    color: #000000;
    box-shadow: 0 1px 0 0 #ea8eb1;
}

.pink-text.input-field>input:focus+label{
    color: #ea8eb1;
}
.container {
    position: relative;
}
.add {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
}