{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
DikinaBox
{% endblock %}

{% block head %}
{{ block.super }}

{% endblock %}

{% block content %}
<div id="modal1" class="modal">
    <h4>Add new transfer</h4>
    <form>
        <div class="input-field pink-text">
            <input type="text" name="url" class="">
            <label for="url">Transfer URI</label>
        </div>
        <div class="action-bar">
            <button href="#" class="waves-effect waves-orange btn-flat modal-action modal-close">upload</button>
        </div>
    </form>
  </div>
<div class="container z-depth-3 white content" style="padding: 5px;">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Transfers</h4></li>
        <span id="transfer-list">
            <li class="collection-item ">Roxette - It Must Have Been Love<span class="badge">Youtube</span><span class="progress" ><span class="indeterminate"></span></span></li>
            <li class="collection-item ">TPB.AFK.2013.720p.h264-SimonKlose<span class="badge">Put.IO</span><span class="progress" ><span class="indeterminate"></span></span></li>
            <li class="collection-item ">BitTorrent.dmg<span class="badge">HTTP</span><span class="progress" ><span class="indeterminate"></span></span></li>
            <li class="collection-item ">Queen - We Are The Champions (Official Video)<span class="badge">YouTube</span><span class="progress" ><span class="indeterminate"></span></span></li>
            <li class="collection-item ">ubuntu-14.04.1-desktop-amd64.iso<span class="badge">Put.IO</span><span class="progress" ><span class="indeterminate"></span></span></li>
            <li class="collection-item ">python-3.4.2-macosx10.6.pkg<span class="badge">HTTP</span><span class="progress" ><span class="indeterminate"></span></span></li>
            <li class="collection-item ">HIT: a short film - David Cross<span class="badge">Put.IO</span><span class="progress" ><span class="indeterminate"></span></span></li>
        </span><span class="indeterminate"></span>
      </ul>
<a class="btn-floating btn-large waves-effect waves-light red add modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
    <!--<script src="http://fb.me/react-0.12.2.js"></script>--!>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reactive.app.js' %}"></script>
{% endblock %}