{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>{% block title%} {% endblock %}</title>
    {% block head %}
        <link href="{% static 'css/reset.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/app.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}
</head>
<body class="brown">
<div id="wrapper">
    <nav class="pink" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">DikinaBox</a>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="#">Logout</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
    </nav>
{% block content %}

{% endblock %}

    <footer class="page-footer pink">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12"></div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</div>
{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notify.min.js' %}"></script>

{% endblock %}
</body>
</html>